.nav-bar {
  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    padding: 20px;
  }
  & li {
    font-size: 25px;
    color: gray;
  }
  &--default:hover {
    color: black;
  }
  &--selected:hover {
    color: black;
  }
}
